<div id="sidebar" class="sidebar-fixed">
    <div id="sidebar-content">
        <form class="sidebar-search">
            <div class="input-box">
                <button type="submit" class="submit">
                    <i class="fa fa-search"></i>
                </button>
						<span>
							<input type="text" placeholder="Search...">
						</span>
            </div>
        </form>
        <ul id="nav">
            <li class="current">
                <a href="javascript:void(0);">
                    My Dashboard
                </a>
            </li>
        </ul>
        <ul id="nav">
            <li>
                <a href="javascript:void(0);">
                    Overview
                </a>
            </li>
            <li>
                <a href="{{ url('shipment_details', { 'ref': 'IFT00001' }) }}">
                    Details
                </a>
            </li>
            <li>
                <a href="{{ url('shipment_parties', { 'ref': 'IFT00001' }) }}">
                    Parties
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    Pickup
                </a>
            </li>
            <li>
                <a href="{{ url('shipment_containers', { 'ref': 'IFT00001' }) }}">
                    Containers
                </a>
            </li>
            <li>
                <a href="{{ url('shipment_packages', { 'ref': 'IFT00001' }) }}">
                    Packages
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    Routing
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    Documents In
                    <span class="label label-info pull-right">6</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    Documents Out
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    Delivery
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    Events
                </a>
            </li>
            <li>
                <a href="{{ url('shipment_communication', { 'ref': 'IFT00001' }) }}">
                    Communication
                </a>
            </li>
        </ul>
    </div>
    <div id="divider" class="resizeable"></div>
</div>