<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>
        {%- if block('title') -%}
            {{ block('title') }}
        {%- else -%}
            Ingot Portal
        {%- endif -%}
    </title>

    {% block requirejs %}
        {{ include('_requirejs.html.twig', {module: false}) }}
    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset(assetsPath~'/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset(assetsPath~'/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />

        <link href="{{ asset(assetsPath~'/kendo/2014.2.903/styles/kendo.common-bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset(assetsPath~'/kendo/2014.2.903/styles/kendo.bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset(assetsPath~'/css/kendo.css') }}" rel="stylesheet"/>
        <link href="{{ asset(assetsPath~'/css/style.css') }}" rel="stylesheet"/>
    {% endblock %}
<body>

{% block body %}{% endblock %}

</body>
</html>